.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color:#F6F6F6;
  border: 1px solid #000000;
  color: #EE2B47;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #EE2B47;
  border-color: #EE2B47;
  color: white;
}